@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

/* Utilities */
.card-profile::after,
.card-profile img {
  border-radius: 50%;
}

.card-profile,
.stats {
  display: flex;
}

.card-profile {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  /* max-width: 500px; */
  box-shadow: 7px 9px 11px rgba(0, 0, 0, 0.2); 
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-top: 50px;
}
.card-profile::before,
.card-profile::after {
  content: '';
  position: absolute;
  z-index: -1;
}
.card-profile::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}
.card-profile::after {
  height: 15rem;
  width: 15rem;
  background-color: #9e9381;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card-profile img {
  width: 9rem;
  min-width: 90px;
  box-shadow: 0 0 0 3px #9e9381;
}

.card-profile ul {
  padding-left: 0em;
}

.card-profile .infos {
  margin-left: 1.5rem;
}

.card-profile .name {
  margin-bottom: 1rem;
}
.card-profile .name h2 {
  color: #9e9381;
  letter-spacing: 5px;
  font-size: 1.3rem;
}
.card-profile .name h4 {
  letter-spacing: 2px;
  font-size: .8rem;
  color: #333
}

.card-profile .text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.card-profile .stats {
  margin-bottom: 1rem;
}
.card-profile .stats li {
  text-align: center;
  list-style:none;
  min-width: 5rem;
  margin-right: 5px;
}
.card-profile .stats li h3 {
  font-size: .99rem;
}
.card-profile .stats li h4 {
  color: black;
  padding-left: 10px;
  padding-right: 4px;
  background-color: #9e9381;
  border-radius: 40px;
  margin-bottom: 5px;
  font-size: .75rem;
}

.card-profile .links button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
}
.card-profile .links .follow,
.card-profile .links .view:hover {
  background-color: #222;
  color: #FFF;
}
.card-profile .links .view,
.links .follow:hover{
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card-profile {
    display: block;
  }
  .card-profile .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .card-profile .links button {
    min-width: 100px;
  }
}
