/*
  By Difa Witsqa RD 10121916 & Stefani Olga 10121908
*/


/*  Tema Main Costum  */

#header .user-info { 
  margin-top: 0;
  border-bottom: 1px solid; 
  border-top: 1px solid;
  padding: 10px; 
  padding-right: 6px; 
  background-color: rgb(122, 122, 122, 0.1); 
  color: #dedede;  
}

#header .user-info > h4 {
  padding: 0px !important;
  margin: 0;
  font-weight: 10;
}


/*  Tambahan  */
#hasil-doz-killer,
#hasil-ramalan-kematian {
  display: none;
  justify-content: center;
  text-align: center;
}

.txt-center {
  text-align: center;
}

.publish-top {
  background-color: rgba(0, 0, 0, 0.2); ;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.publish-top p{
  font-size: 14px;
}

.container-read {
  border-bottom: 1px solid #fff;
}

.publish-top p {
  margin: 0px;
}

.text-eror {
  border-radius: 3px;
  color: #ffffff;
  background-color: #ff1100;
  display: block;
  font-size: 0.6rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin: 3px 3px 3px 3px;
  padding-left: 5px;
}

.is-a-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.is-a-link:hover {
  color: #9e9381;
}

.progresbar {
  display: none;
}

.progresbar #loading {
  position: relative;
  max-width: 80%;
  width: 100%;
  margin: 1px auto 0;
  height: 30px;
  background: #7c7c7c;
  overflow: hidden;
  border-radius: 3px;
}

.progresbar span#loading-inside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #3d3d3d;
  border-radius: 3px;
}

.progresbar .counter {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.horror-text {
  font-family: "Trade Winds";
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: flickering;
  animation-timing-function: step-start;
  color: #ca0d00;
}

@keyframes flickering {
  0% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  5% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  10% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(-15deg);
  }
  15% {
    color: #ccc;
    text-shadow: none;
    transform: skewX(-15deg);
  }
  20% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  25% {
    color: #ccc;
    text-shadow: 2px 2px #ca0d00;
    transform: skewX(0);
  }
  30% {
    color: #ccc;
    text-shadow: 2px 2px #ca0d00;
    transform: skewX(0);
  }
  35% {
    color: #ccc;
    text-shadow: 2px 2px #ca0d00;
    transform: skewX(0);
  }
  37% {
    color: #ccc;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  40% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  45% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  50% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  55% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  60% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  65% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  68% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  70% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  75% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  80% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  85% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(10deg);
  }
  90% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
  95% {
    color: #ca0d00;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  100% {
    color: #ca0d00;
    text-shadow: none;
    transform: skewX(0);
  }
}

/* 29/06/2022 */

#header > nav > ul > li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.075);
}

#header > nav > ul > li > .dropdown > .dropbtn > i {
  font-size: 18px;
  padding: 0px 0px 0px 10px;
}

#header > nav > ul > li > .dropdown > .dropdown-content {
  z-index: 1;
  position: absolute;
  width: auto;
  max-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  opacity: 0;
}

#header > nav > ul > li .dropdown .dropdown-content > a {
  float: none;
  color: #ffffff;
  background-color: rgb(100, 100, 100);
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#header > nav > ul > li > .dropdown > .dropdown-content > a > i {
  padding: 0px 16px 0px 0px;
}

#header > nav > ul > li > .dropdown .dropdown-content a:hover {
  background-color: rgb(122, 122, 122);
}

#header > nav > ul > li > .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

#header > nav > ul > li > .dropdown .dropdown-content .wrapper {
  display: flex;
  justify-content: center;
  visibility: hidden;
  background-color: rgb(122, 122, 122);
  min-width: 160px;
}

#header > nav > ul > li > .dropdown .dropdown-content .dropdown:hover .wrapper {
  visibility: visible;
}

#header > nav > ul > li > .dropdown .dropbtn {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  #header > nav > ul > li > .dropdown .dropdown-content .wrapper {
    display: block;
    height: 3rem;
    line-height: 3rem;
    min-width: 0;
    width: 100%;
  }
  #header > nav > ul > li > .dropdown > .dropdown-content {
    height: 3rem;
    line-height: 3rem;
    min-width: 0;
    width: 100%;
  }
  #header > nav > ul > li > .dropdown > .dropbtn > i {
    font-size: 12px;
    padding: 0px 0px 0px 10px;
  }
}

.topnav {
  position: fixed;
  width: 100%;
  z-index: 4;
  overflow: hidden;
  padding-right: 100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px;
}

.topnav a:hover {
  background-color: rgba(189, 189, 189, 0.363);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  color: white;
}

.topnav-right {
  float: right;
}



/* article-card */

.article-card {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(156, 153, 117, 0.1);
  display: grid;
  grid-template-columns: 285px minmax(300px, 100%);
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 7px 9px 11px rgba(0, 0, 0, 0.2); 
}

.article-card .img-box {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.article-card .article-banner {
  width:  100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

.article-card:hover .article-banner {
  transform: scale(1.1); 
}

.article-card .article-content {
  padding: 32px 40px;
  border-radius: 0 10px 10px 0;
}

.article-card .article-title {
  font-size: 25px;
  color: white;
  margin-bottom: 12px;
  line-height: 1.4;
  cursor: pointer;
}

.article-card .article-text {
  color: white;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 18px;
  padding-bottom: 15px;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  border-style: solid;
}

.article-card .acticle-content-footer {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
}

.article-card .author {
  display:     flex;
  align-items: center;
}

.article-card .author-profil {
  width:  40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.article-card .author-name {
  color: #9e9381;
  font-size: 13px;
}

.article-card .publish-date {
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.article-card .genre-name {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #7E715C;
  border-radius: 10px;
  padding-right: 8px;
  padding-left: 8px;
}

.article-card .author-username {
  font-size: 14px;
  color: #fff;
}

.article-card .optional-text {
  color: #fff;
  font-size: 14px;
}

.article-card .article-content .text-topright {
  float: right!important;
  font-size: 13px;
  padding-top: 5px;
}


.article-card .genre-name ~ .optional-text,
.article-card .genre-name ~ .publish-date { 
  padding-left: 5px;
}

.article-card .article-title:hover{ 
  color: #9e9381;
}

/* Responsive list artikel */
@media screen and (max-width: 480px) {


  .article-card {
    grid-template-columns: 1fr;
    min-width: 294px;
    overflow: hidden;
    float: cen;
  }

  .article-card .img-box, .article-content { 
    border-radius: 0; 
  }

  .article-card .img-box { 
    height: 180px; 
  }

  .article-card .article-content { 
    padding: 30px 28px 20px; 
  }

  .article-card .article-title { 
    font-size: 15px; 
  }

  .article-card .article-text { 
    margin-bottom: 30px; 
  }

  .article-card .acticle-content-footer { 
    position: relative;
  }

  .article-card .author-profil {
    width:  35px;
    height: 35px;
  }

}



.bg-danger {
  background-color: rgba(255, 22, 22, 0.336);
}


/* styleing age menghilangkan bg putih dari ckeditor */
.ck.ck-toolbar {
  background: none;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: none;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  background-color: black !important;
}

.ck.ck-editor__main > .ck-editor__editable {
  background-color: transparent !important;
}

.ck-editor__editable {
  min-height: 20vh;
}

#container-read .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border: 0;
}

#container-read01 .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border: 0;
}

.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset_all {
  color: #d9d9d9 !important;
}

/* Border Close IziToast Fix */
.iziToast-close {
  box-shadow: 0 0 0 0px;
}